/* Jelpmi MX */
/* Font: Gilroy */
/* Version: 1.0 */
/* Description: Gilroy font family for Jelpmi MX */


@font-face {
    font-family: 'Gilroy';
    src: url('https://jelpmi-mx.github.io/brevo-fonts/Gilroy-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('https://jelpmi-mx.github.io/brevo-fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('https://jelpmi-mx.github.io/brevo-fonts/Gilroy-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('https://jelpmi-mx.github.io/brevo-fonts/Gilroy-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src: url('https://jelpmi-mx.github.io/brevo-fonts/Gilroy-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  